node_modules/
# Keep environment variables out of version control
.env
*.env.backup.*
!.env.example

# Build output
dist/

# Prisma
/generated/prisma

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
